* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #1e1e1e;
    color: white;
    margin: 30px;
  }
  
  header{
    background: rgb(233, 233, 233);
    text-align: center;
    padding: 20px;
  }
  
  
  @media (min-width: 400px) {
    body {
      background-color: rgba(128, 128, 128, 0.548);
    }
  }

  /* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: black;
  }

  * img {
    width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  main {
    width: 100%;
    height: 100%;
  }
  
  /** Section 1 */
.about__section {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__section1 {
  background-color:  rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about__content .slogan {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__content h1 {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #1e1e1e;
}

.about__content h2 {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #1e1e1e;
}

.about__content p {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #1e1e1e;
}

.about__content .btn {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.botones{
  padding: 30px;
}

.about__content .btn1 {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.about__content--img {
  width: 70%;
  margin: 5rem auto;
}

.title-img {
  width: 350px;
  padding: 50px;
}

